---
phase: 49
name: infinity-loop
status: passed
verified: 2026-05-21
must_haves: 3/3
---
